@import '../../stylus/index.styl'

.Brand
  margin 0
  display inline-block
  font-weight 800
  font-size 28px
  line-height 1
  span
    font-weight 500
    font-size inherit
  &__link
    color $secondary-color
    text-decoration none
    &:hover,
    &:focus,
    &:active
      outline none
      text-decoration none
