@import '../../stylus/index.styl'

.brand
  margin 0
  color $primary-color
  display inline-block
  font-size 28px
  line-height 1

  &__span
    color $primary-color
    font-weight 500
    font-size inherit

  &__link
    font-weight 800
    color $secondary-color
    text-decoration none
