@import '../../stylus/index.styl'

.brand
  margin 0
  display inline-block
  font-size 1.75rem
  line-height 1
  +above($tablet)
    color #fff
  &,
  &__link,
  &__link:hover,
  &__link:focus
    color $secondary-color
  span
    font-weight 500
    font-size inherit
    color $primary-color
  &__link
    font-weight 800
    text-decoration none
    +above($tablet)
      &,
      &:hover,
      &:focus,
      span
        color #fff
