@import '../../stylus/index.styl'

.brand
  margin 0
  color #fff
  display inline-block
  font-size 1.75rem
  line-height 1
  span
    font-weight 500
    font-size inherit
  &__link
    font-weight 800
    text-decoration none
  &__link
    &,
    &:hover,
    &:focus,
    span
      color #fff
