@import '~stylus/index.styl'

.repo
  width 100%
  overflow hidden
  animation fadeIn 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
  margin-bottom 2.5rem
  display block
  +above($tablet)
    height 100%
  &:hover,
  &:active,
  &:focus
    box-shadow none
  &:nth-child(1)
    animation-delay 200ms
  &:nth-child(2)
    animation-delay 400ms
  &:nth-child(3)
    animation-delay 600ms
  &:nth-child(4)
    animation-delay 800ms
  &:nth-child(5)
    animation-delay 1000ms
  &:nth-child(6)
    animation-delay 1200ms
  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(9),
  &:nth-child(10),
  &:nth-child(11),
  &:nth-child(12)
    animation-delay 1400ms

.card
  padding 20px

.name
  font-size 1.25rem
  margin 0 0 .625rem

.description
  opacity .75
  font-size 1rem
  margin 0

.footer
  width 100%
  display flex
  align-items center
  justify-content space-between
  margin-top 15px
  padding-top 15px
  border-top 1px solid rgba(#000, .1)
  p
    margin 0
    font-size .875rem
  ul, p, li
    display flex
    align-items center
  ul
    list-style none
    padding 0
    margin 0
  svg, span
    display inline-block
  li
    font-size .875rem
    margin-right 10px
  svg
    width 20px
    height 20px
    margin-right 4px

@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
