@import '~stylus/index.styl'

.repo
  display flex
  animation fadeIn 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
  display block
  padding .9375rem
  width 100%
  +above($tablet)
    width percentage(1/2)
  +above($desktop)
    width percentage(1/3)
  +above($tablet)
    height 100%
  &:hover,
  &:active,
  &:focus
    box-shadow none
  &:nth-child(1)
    animation-delay 200ms
  &:nth-child(2)
    animation-delay 400ms
  &:nth-child(3)
    animation-delay 600ms
  &:nth-child(4)
    animation-delay 800ms
  &:nth-child(5)
    animation-delay 1000ms
  &:nth-child(6)
    animation-delay 1200ms
  &:nth-child(7),
  &:nth-child(8),
  &:nth-child(9),
  &:nth-child(10),
  &:nth-child(11),
  &:nth-child(12)
    animation-delay 1400ms

.card
  padding 1.25rem
  min-height 11.25rem
  &:hover,
  &:focus
    transform translateY(-5px)

.header
  display flex
  justify-content space-between
  align-items center
  padding-bottom .9375rem

.label
  display inline-block
  padding .1875rem .625rem
  color #fff
  font-size .625rem
  border-radius .25rem
  margin-left .9375rem

.name
  font-size 1.25rem
  truncate 20px
  margin 0

.description
  opacity .75
  font-size 1rem
  min-height 3.75rem
  margin 0

.footer
  width 100%
  display flex
  align-items center
  justify-content space-between
  margin-top .9375rem
  padding-top .9375rem
  border-top 1px solid rgba(#000, .05)
  p
    margin 0
    font-size .875rem
  ul, p, li
    display flex
    align-items center
  ul
    list-style none
    padding 0
    margin 0
  svg, span
    display inline-block
  li
    font-size .875rem
    margin-right .625rem
  svg
    width .9375rem
    height .9375rem
    margin-right .25rem
    padding .0625rem

@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1
