@import '~stylus/index.styl'

.error404
  padding 6.25rem 0
  .dark-switcher
    position fixed
    top 1.5625rem
    right .625rem
  .button
    +below($mobile-lg)
      display block
      width 100%
      margin-bottom 10px
