@import '~stylus/index.styl'

.error404
  width 100%
  text-align center
  +above($tablet)
    height calc(100vh - 195px)
    display flex
    align-items center
    justify-content center

.inner
  padding 1.875rem .9375rem
  +above($tablet)
    padding .9375rem

  h1, h2, p
    margin 0 0 .9375rem

  h1
    font-size 1.375rem
    +above($tablet)
      font-size 3.25rem

.buttons
  margin 2.5rem 0

.button
  margin 0 .3125rem
  display inline-block

  span, svg
    display inline-block
    vertical-align middle
    margin 0 .3125rem
