@import '../../stylus/index.styl'

.hero
  background-color $background-color
  width 100%
  position relative
  padding 3.75rem 0 1.875rem
  text-align center
  +above($tablet)
    text-align left
    height calc(100vh  - 4px)
    display flex
    align-items center
    justify-content center

.inner
  padding .9375rem
  z-index 1
  position relative
  +above($tablet)
    max-width 73.125rem
    margin 0 auto

.title
  font-size 2.25rem
  line-height 1.875rem
  margin-bottom .9375rem
  +above($tablet)
    line-height 5rem
    font-size 6.25rem
    margin-bottom 2.5rem
  a
    font-weight 900
    text-decoration none
    color darken($text-color, 40%)
    animation fadeIn 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms both
    display block
    &:hover,
    &:focus,
    &:active
      box-shadow none
  span
    font-weight 200
    font-size inherit
    letter-spacing 0
    font-size 75%
    display block
    animation fadeInTop 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 100ms both

.presentation
  animation fadeIn 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 900ms both
  font-size 1rem
  font-weight 200
  color rgba($text-color, .8)
  line-height 1.6rem
  margin-bottom 2.5rem
  +above($tablet)
    line-height 2.2rem
    font-size 1.75rem
  span, a
    font-weight 500
  a
    border-bottom .125rem solid $link-color

@keyframes fadeIn
  0%
    opacity 0
  100%
    opacity 1


@keyframes fadeInTop
  0%
    transform translateY(-50px)
    opacity 0
  100%
    transform translateY(0)
    opacity 1
