@import '../../stylus/index.styl'

.Hero
  width 100%
  position relative
  +above($tablet)
    height 100vh
    display flex
    align-items center
    justify-content center

  &__inner
    padding 15px
    z-index 1
    position relative
    +above($tablet)
      max-width 1200px
      margin 0 auto

  &__title
    font-size 48px
    line-height 2.6rem
    margin-bottom 30px
    a
      font-weight 900
      text-decoration none
      color rgba(#000, .8)
    +above($tablet)
      line-height 5.6rem
      font-size 100px
    span
      font-weight 200
      font-size inherit
      letter-spacing 0

  &__presentation
    font-size 18px
    font-weight 200
    color rgba(#000, .75)
    line-height 1.6rem
    margin-bottom 30px
    +above($tablet)
      line-height 2rem
      font-size 24px
    span, a
      font-weight 500

  .Nav
    margin-bottom 30px

  .Nav__item
    font-size 20px
    text-transform uppercase
