@import '../../stylus/index.styl'

.Hero
  width 100%
  position relative
  +above($tablet)
    height 100vh
    display flex
    align-items center
    justify-content center

  &__inner
    padding .9375rem
    z-index 1
    position relative
    +above($tablet)
      max-width 73.125rem
      margin 0 auto

  &__title
    font-size 3rem
    line-height 2.4rem
    margin-bottom 2.5rem
    +above($tablet)
      line-height 5rem
      font-size 6.25rem
    a
      font-weight 900
      text-decoration none
      color darken($text-color, 40%)
      &:hover,
      &:focus,
      &:active
        box-shadow none
    span
      font-weight 200
      font-size inherit
      letter-spacing 0
      font-size 80%

  &__presentation
    font-size 1.125rem
    font-weight 200
    color rgba($text-color, .8)
    line-height 1.6rem
    margin-bottom 2.5rem
    +above($tablet)
      line-height 2.2rem
      font-size 1.75rem
    span, a
      font-weight 500
    a
      border-bottom 2px solid $link-color
