// @import '../../stylus/index.styl'

.Hero
  .SocialIcons
    margin-top 1.875rem
    li:first-child
      margin-left 0

  .Nav
    margin-bottom .9375rem

  .Nav__item
    font-size 1.25rem
    text-transform uppercase
