@import '~stylus/index.styl'

.socialshare
  text-align center
  padding 1.875rem
  margin 3.75rem 0 0

.title
  font-size 1.5rem
  margin 0 0 .625rem

.description
  font-size 1.125rem
  display block
  +above($tablet)
    width 80%
    margin-right auto
    margin-left auto

.items
  padding 0 5px
