@import '~stylus/index.styl'

.switcher
  display flex
  align-items center
  background none transparent
  border none
  line-height 2.5rem
  padding .3125rem .9375rem
  margin 0 .3125rem 0 0
  cursor pointer
  +below($desktop-lg)
    margin 0
    position fixed
    top 25px
    right 90px
    z-index 1000
  +below(330px)
    top 95px
    right 20px
