@import '~stylus/index.styl'

.switcher
  display flex
  align-items center
  background none transparent
  border none
  line-height 2.5rem
  padding .125rem .9375rem
  margin 0
  cursor pointer
  outline 0
  +below($desktop)
    margin 0 .3125rem 0 0
