@import '../../stylus/index.styl'

[data-tooltip]
  position relative

[data-tooltip]:hover::before
  content attr(data-tooltip)
  position absolute
  top -34px
  left 50%
  transform translateX(-50%)
  display inline-block
  padding 4px 10px
  border-radius 2px
  background $secondary-color
  color #fff
  font-size 12px
  font-family inherit
  white-space nowrap

[data-tooltip]:hover::after
  content ''
  position absolute
  top -10px
  left 50%
  transform translateX(-50%)
  display inline-block
  color #fff
  border 8px solid transparent
  border-top 8px solid $secondary-color
