@import '../../stylus/index.styl'

.default
  padding 0
  +above($tablet)
    padding 3.75rem 0 0

.main
  background-color $background-color
  +above($tablet)
    min-height calc(100vh - 100px)
    padding 0 0 2.5rem
