$font-family-base = -apple-system, BlinkMacSystemFont, 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif
$font-family-heading = 'Nunito', $font-family-base
$font-family-monospace = Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace

$font-size = 16px

$background-color = #f6f7fe
$background-dark-color = #323232

$primary-color = #25ced1
$secondary-color = #4b5b6c
$tertiary-color = #ff8a5b
$quarternary-color = #fceade

$linear-from-color = darken($primary-color, 10%)
$linear-to-color = lighten($primary-color, 10%)

$text-color = #37322e
$link-color = darken($primary-color, 15%)
$link-hover-color = darken($secondary-color, 10%)

$timing-function = cubic-bezier(0.565, 1.65, 0.765, 0.88)

$mobile-sm  = 331px
$mobile = 480px
$mobile-lg = 561px
$tablet = 769px
$desktop = 1201px
$desktop-lg = 1361px

$container-size = 1200px
$container-small-size = 960px
