$font-family-base = 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif
$font-family-heading = 'Nunito', $font-family-base

$font-size = 16px

$background-color = #f5f6f9
$primary-color = #40b883
$secondary-color = #435b71
$text-color = #2f3136
$link-color = lighten($primary-color, 10%)
$link-hover-color = lighten($secondary-color, 10%)

$timingFunction = cubic-bezier(0.565, 1.65, 0.765, 0.88)
// $timingFunction = ease-in-out

$mobile  = 480px
$tablet  = 768px
$desktop = 1024px
$desktop-lg = 1360px

$container-size = 75rem
$container-small-size = 60rem
