.clearfix
  &:after
    content ""
    display table
    clear both

.button
  border none
  background $secondary-color
  font-size 1rem
  border-radius .25em
  padding 1rem 1.25rem
  color #fff
  font-weight 800
  cursor pointer
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  appearance none
  transition background-color .2s $timingFunction,
    border-color .2s $timingFunction
  svg
    fill inherit

  svg, span
    display inline-block
    margin 0 .25rem

  &:hover,
  &:focus,
  &:active
    outline none
    box-shadow none

.buttonPrimary
  color #fff
  background-color $primary-color
  border-color $primary-color
  svg
    fill #fff
  &:hover,
  &:focus
    color #fff
    background darken($primary-color, 20%)
    border-color darken($primary-color, 20%)

.buttonSecondary
  color #fff
  background-color $secondary-color
  border-color $secondary-color
  svg
    fill #fff
  &:hover,
  &:focus
    color #fff
    background darken($secondary-color, 20%)
    border-color darken($secondary-color, 20%)

.buttonDisabled
  cursor not-allowed
  color rgba($secondary-color, .4)
  border-color rgba($secondary-color, .2)
  svg
    fill rgba($secondary-color, .4)
  &:hover,
  &:focus
    color rgba($secondary-color, .6)
    border-color rgba($secondary-color, .4)
    svg
      fill rgba($secondary-color, .6)

.buttonFlex
  display flex
  align-items center
  justify-content center

.card
  width 100%
  background-color #fff
  position relative
  display block
  border-radius .625rem
  border 0 solid rgba(#000, .125)
  box-shadow 0 0 1.25rem rgba($secondary-color, .1)
  transition box-shadow .2s $timingFunction,
    transform .2s $timingFunction
  @extend .clearfix

.cardHover
  &:hover,
  &:focus
    box-shadow 0 0 0 .25rem $primary-color
    transform translate3d(0, -0.3125rem, 0)
