@import '~stylus/index.styl'

.about
  .SocialIcons
    text-align center
    padding .9375rem 0
    &:after
      content ''
      display block
      width 2.5rem
      height .25rem
      box-shadow inset 0 -0.75rem 0 rgba($link-hover-color, .15)
      margin 1.25rem auto 0
  .gatsby-image-wrapper
    border-radius .625rem
    border 0 solid rgba(#000, .125)
    box-shadow 0 0 .0625rem 0 rgba($primary-color, .08), 0 .25rem .875rem rgba($primary-color, .06)
    max-width 18.75rem
    margin 0 auto
