@import '~stylus/index.styl'

.about
  width 100%
  +above($tablet)
    display flex
    justify-content center

.left,
.right
  text-align center
  +above($tablet)
    text-align left
    display flex
    flex-direction column
    flex-basis 100%

.left
  width 100%
  margin 0 auto 2.5rem
  animation fadeInBottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 200ms both
  +above($tablet)
    padding-right .9375rem
    margin-top -120px
    flex 1 25%
  +below($tablet)
    max-width 380px

.right
  animation fadeInBottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms both
  +above($tablet)
    padding-left .9375rem
    flex 1 75%

.inner
  padding 1.25rem

.image
  width 100%
  +below($tablet)
    margin 0 auto !important
    display block !important

.content
  margin-bottom 1.875rem /* 30/16 */
  +above($tablet)
    display flex
    align-items center

.text
  margin-bottom 2.5rem
  h2
    font-size 2rem /* 32/16 */
    margin 0 0 1.875rem
  ul
    list-style none
    padding 0
    margin 0 0 1.875rem /* 30/16 */
    li:before
      content '🖖🏼'
      display inline-block
      margin 0 .3125rem /* 5/16 */ 0 0
  a
    text-decoration underline
    &:hover,
    &:focus
      text-decoration none

.social
  margin-bottom 1.875rem

@keyframes fadeInBottom
  0%
    transform translateY(50px)
    opacity 0
  100%
    transform translateY(0)
    opacity 1
