@import '~stylus/index.styl'

.project
  padding-bottom 3.75rem
  margin-bottom 3.75rem
  position relative
  width 100%
  p
    margin 0 0 .625rem

.inner
  width 100%
  display block
  &:hover,
  &:focus,
  &:active
    box-shadow none
  +above($tablet)
    display flex

.header
  padding 0
  h1
    margin 0 0 .625rem
    font-size 1.75rem
    a
      text-decoration none

.image
  display block
  animation fadeInBottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 250ms both
  +above($tablet)
    display inline-block
    width 43.75rem

.content
  width 100%
  animation fadeInBottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms both
  +above($tablet)
    width calc(100% - 560px)
  > a
    padding 1.875rem
    width 100%
  +above($tablet)
    animation fadeInBottomContent 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 500ms both
    display flex
    align-items center
    z-index 3
    position absolute
    top 50%
    right 0
  +below($tablet)
    border-radius 0

.left
  +above($tablet)
    .inner
      justify-content flex-start
    .content
      right 0

.right
  +above($tablet)
    .inner
      justify-content flex-end
    .content
      left 0

.description
  color rgba($text-color, .75)
  font-size 1rem

.view
  display flex
  align-items center
  color $primary-color
  svg
    padding .3125rem
    display inline-block
    fill $primary-color
    position relative
    animation animateArrow 1s ease-in-out infinite
    transform translate3d(0, .125rem, 0)

@keyframes animateArrow
  0%,
  100%
    transform translate3d(0, .125rem, 0)
  50%
    transform translate3d(.625rem, .125rem, 0)

@keyframes fadeInBottom
  0%
    transform translateY(50px)
    opacity 0
  100%
    transform translateY(0)
    opacity 1

@keyframes fadeInBottomContent
  0%
    transform translateY(0)
    opacity 0
  100%
    transform translateY(-50%)
    opacity 1
