@import '~stylus/index.styl'

.header
  .donate-link,
  .dark-switcher
    position relative
    z-index 1000
  .donate-link
    +below($mobile-lg)
      position fixed
      bottom 15px
      right 15px
