@import '~stylus/index.styl'

.skills
  margin 60px auto
  text-align center
  h4
    font-size 1.75rem

.list
  display flex
  justify-content center
  flex-direction row
  flex-wrap wrap

.item
  width auto
  padding 10px

.inner
  display flex
  align-items center
  justify-content center
  padding 15px

.small
  h4
    font-size 1.25rem
  .inner
    padding 10px

.large
  h4
    font-size 2rem
  .inner
    padding 25px
