.header
  text-align center

.container
  text-align center
  margin-bottom 3.75rem

.item
  max-width 31.25rem
  margin 1.875rem auto
  padding 1.25rem
  h4
    margin 0

.list
  list-style none
  padding 0
  li
    font-size 18px
    &:before
      content '🖖🏼'
      display inline-block
      margin-right 4px
