@import '../../stylus/index.styl'

.About
  width 100%
  +above($tablet)
    display flex
    justify-content center
  &__left,
  &__right
    text-align center
    +above($tablet)
      text-align left
      display flex
      flex-direction column
      flex-basis 100%
  &__left
    width 100%
    +above($tablet)
      padding-right .9375rem
      flex 1 25%
  &__right
    +above($tablet)
      padding-left .9375rem
      flex 1 75%
  &__inner
    @extend .card
    padding 1.25rem
  &__image
    width 100%
    +below($tablet)
      margin 0 auto !important
      display block !important
  &__content
    margin-bottom 1.875rem /* 30/16 */
    +above($tablet)
      display flex
      align-items center
  &__text
    margin-bottom 2.5rem
    h2
      font-size 2rem /* 32/16 */
      margin 0 0 1.875rem
    ul
      list-style none
      padding 0
      margin 0 0 1.875rem /* 30/16 */
      li:before
        content '🖖🏼'
        display inline-block
        margin 0 .3125rem /* 5/16 */ 0 0
    a
      text-decoration underline
      &:hover,
      &:focus
        text-decoration none
  &__social
    margin-bottom 1.875rem
