@import '../../stylus/index.styl'

.AuthorBox
  margin 1.875rem 0
  &__inner
    @extend .card
    padding 30px
    display flex
    align-items center
  &__image
    margin-right 1.875rem
  &__body
    max-width 500px
    h3
      font-size 1.75rem
    p, h3
      margin 0 0 .9375rem
