@import '~stylus/index.styl'

.brand
  margin 0
  display inline-block
  font-size 1.75rem
  line-height 1
  color $secondary-color
  span
    font-weight 500
    font-size inherit
    color $primary-color

.link
  font-weight 800
  text-decoration none
  box-shadow inset 0 -0.75rem 0 rgba($link-hover-color, .15)
  &,
  &:hover,
  &:focus
    color $secondary-color
