@import '~stylus/index.styl'

.brand
  margin 0
  display inline-block
  font-size 1.75rem
  line-height 1
  color $secondary-color
  span
    font-weight 500
    font-size inherit
    color $primary-color
  &:before,
  &:after
    display inline-block
    font-weight 500
  &:before
    content '{'
    margin-right 5px
    color $primary-color
  &:after
    content '}'
    margin-left 5px
  +below($mobile)
    &:before,
    &:after
      display none

.link
  font-weight 800
  text-decoration none
  box-shadow none
  &,
  &:hover,
  &:focus
    box-shadow none
    color $secondary-color
