@import '../../stylus/index.styl'

.Footer
  @extend .card
  padding 15px
  text-align center
  margin-top 1.875rem
  border-radius 0
  strong, address, a
    font-weight 800
  address
    display inline
  span
    font-size .75rem
    opacity 0.75
    margin 0
    +above($tablet)
      font-size .875rem
  a
    text-decoration underline
