@import '~stylus/index.styl'

.whatsapp
  position fixed
  left 13px
  bottom 13px
  z-index 100
  display inline-block
  +above($tablet)
    width 3.125rem
    bottom 1.25rem
    left 1.25rem

  svg
    +below($tablet)
      padding 5px

.link
  display flex
  cursor pointer
  background-color #2bcc45
  border 2px solid #2bcc45
  justify-content center
  align-items center
  text-align center
  border-radius .25rem
  max-width 500px
  padding 0 .625rem
  +above($tablet)
    text-align left
    width 3.125rem
    height 3.125rem
    padding 0
    border none

.message
  padding 0 .625rem
  color #fff
  font-size 1.25rem
  line-height 40px
  text-align center
  display none
  +above(460px)
    display block
    span
      display none
  +above($tablet)
    background #fff
    font-size 1rem
    color inherit
    position absolute
    line-height 1.5
    padding .9375rem 1.25rem
    border 1px solid #ccc
    bottom 140%
    left 0
    width auto
    min-width 13.75rem
    border-radius .25rem
    animation attention 1.5s ease-in-out infinite
    transform translate3d(0, 0.3125rem, 0)
    span
      display block
    &:hover
      animation none
    &:after,
    &:before
      top 100%
      border solid transparent
      content " "
      height 0
      width 0
      position absolute
      pointer-events none
    &:after
      border-color rgba(255, 255, 255, 0)
      border-top-color #fff
      border-width 10px
      margin-left -10px
      left 25px
    &:before
      border-color rgba(204, 204, 204, 0)
      border-top-color #ccc
      border-width 11px
      left 14px

@keyframes attention
  0%,
  100%
    transform translate3d(0, 0.3125rem, 0)
    box-shadow 0 0 1.25rem rgba($secondary-color, .1)
  50%
    transform translate3d(0, 0, 0)
    box-shadow 0 0 0 0 rgba($secondary-color, .75)

.icon
  fill #fff
  width 2.5rem
  height 2.5rem
  position relative
  z-index 10
  +above($tablet)
    padding .25rem
