@import '../../stylus/index.styl'

.Comments
  margin 1.875rem 0
  &__inner
    @extend .card
    padding 30px
  &__header
    display flex
    justify-content center
    h3
      text-align center
      font-size 1.75rem
      margin 0 auto 1.875rem
      box-shadow inset 0 -12px 0 rgba($primary-color, .3)
