@import '../../stylus/index.styl'

.item
  padding 0 .9375rem
  margin-bottom 1.875rem
  width 100%
  animation fadeInBottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
  &:nth-child(1)
    animation-delay 250ms
  &:nth-child(2)
    animation-delay 500ms
  &:nth-child(3)
    animation-delay 750ms

.iconRight
  display flex
  transition all .2s $timingFunction

.inner
  @extend .card
  @extend .card--hover
  padding 1.25rem 1.875rem
  margin-bottom 2.5rem
  color $secondary-color
  text-decoration none
  svg, span
    display inline-block
    vertical-align middle
    margin-right .3125rem
  &:hover,
  &:focus
    .Post__iconRight
      transform translate3d(.625rem, 0, 0)

.date,
.category
  display inline-block
  vertical-align middle
  font-size .875rem

.header
  h1
    margin 0 0 .625rem
    font-size 1.25rem
    +above($tablet)
      font-size 1.625rem
  small
    display flex
    align-items center
    justify-content space-between
    padding-bottom .625rem

.content
  p
    margin 0
    opacity 0.75
    font-size 1rem
    +above($tablet)
      font-size 1.125rem

.footer
  display flex
  align-items center
  justify-content space-between
  padding .9375rem 0 0
  p
    font-size .875rem
    margin .9375rem 0 0

@keyframes fadeInBottom
  0%
    transform translateY(50px)
    opacity 0
  100%
    transform translateY(0)
    opacity 1
