@import '~stylus/index.styl'

.footer
  text-align center
  border-radius 0
  strong, address, a
    font-weight 800
  address
    display inline
    font-style normal
  span
    font-size .75rem
    margin 0
    padding 0 0 0 .1875rem
    +above($tablet)
      font-size .875rem
  a
    border none
    &:hover,
    &:focus
      box-shadow none
  img, svg, span
    display inline-block
    vertical-align middle

.base
  background-color #fff
  border-top .0625rem solid rgba(#000, .05)
  padding .9375rem .9375rem 5rem
  +above($tablet)
    padding-bottom .9375rem
