@import '../../stylus/index.styl'

.ProjectSinple
  padding 0
  +above($tablet)
    padding-top 3.75rem
  &__container
    max-width 37.5rem
    margin 0 auto
  &__sectionTitle
    font-size .75rem
    font-weight 600
    letter-spacing .125rem
    color #7D7D80
    text-transform uppercase
    margin 0 0 .625rem 0
    display inline-block
  p.ProjectSinple__sectionText
    font-size 1rem
    line-height 1.625rem
    font-weight 400
    color #19191A
    margin 0 0 1.875rem
