@import '~stylus/index.styl'

.scrollToTop
  opacity 0.3
  background none transparent
  position fixed
  z-index 100
  bottom 1.25rem
  right 1.5625rem
  cursor pointer
  transition all .2s ease-in-out
  padding 0
  margin 0
  border none
  &__arrow
    color #fff
    transition fill .12s ease-in-out
  &:hover,
  &:focus
    svg
      fill $primary-color
