@import '../../stylus/index.styl'

.Tags
  padding 0
  display flex
  align-items center
  span, a
    display inline-block
    margin-right .3125rem
  span
    svg
      padding .25rem
      opacity 0.75
  &__tag
    padding .1875rem .75rem
    font-size .875rem
    background-color rgba(#f0f0f0, .75)
    border-radius .1875rem
    &:hover,
    &:focus,
    &:active
      box-shadow none
