@import '~stylus/index.styl'

.authorbox
  margin 3.75rem 0

.card
  padding 1.875rem
  text-align center
  +above($tablet)
    display flex
    align-items center
    text-align left

.image
  margin-right 1.875rem
  &:hover,
  &:focus,
  &:active
    box-shadow none

.body
  display flex
  flex-direction column
  flex-basis 100%
  flex 1 65%
  h3
    font-size 1.75rem
    a
      box-shadow inset 0 -0.75rem 0 rgba($primary-color, .3)
  p, h3
    margin 0 0 .9375rem

.linkabout
  display block
  padding .3125rem 1.875rem
  border .0625rem solid $primary-color
  border-radius .625rem
  margin 1.875rem 0
  +above($tablet)
    display flex
    padding 0
    border none
    margin .9375rem 0 0
    align-items center
  svg, span
    display inline-block
    vertical-align middle
  svg
    padding .3125rem
    position relative
    +above($tablet)
      top .125rem
  &:hover,
  &:focus,
  &:active
    box-shadow none

.donatebutton
  display inline-block
  max-width 320px
