@import '../../stylus/index.styl'

.nav
  position relative
  padding .9375rem 0 0
  +above($tablet)
    padding 0

.item
  margin 0
  text-transform lowercase
  &:not(:last-child)
    margin-right 1.25rem

.item,
.link
  display inline-block

.link
  padding 0
  text-decoration none
  position relative
  &:hover,
  &:focus,
  &:active,
  &-active
    outline none
    box-shadow inset 0 -0.75rem 0 rgba($link-hover-color, .15)

.list
  transition all .05s $timingFunction
  padding 0
  margin 0
  +above($tablet)
    display flex
    flex-direction column
    flex-direction row
    align-items center
