@import '~stylus/index.styl'

.nav
  padding 0
  input
    display none
  +above($desktop-lg)
    position relative
  +below($desktop-lg)
    position absolute
    z-index 1000
  &.isOpen
    +below($desktop-lg)
      .list
        display flex
      .item
        animation fadeInTop 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
        &:nth-child(1)
          animation-delay 200ms
        &:nth-child(2)
          animation-delay 400ms
        &:nth-child(3)
          animation-delay 600ms
        &:nth-child(4)
          animation-delay 800ms
        &:nth-child(5)
          animation-delay 1000ms
        &:nth-child(6)
          animation-delay 1200ms

.list
  transition all .05s $timingFunction
  padding 5rem 0
  margin 0
  +above($desktop-lg)
    padding 0
    position relative
    flex-direction column
    flex-direction row
  +below($desktop-lg)
    position fixed
    align-items center
    justify-content center
    text-align center
    flex-wrap wrap
    background-color $primary-color
    display none
    top 0
    right 0
    bottom 0
    left 0
    width 100%
    height 100vh

.button
  display none
  +below($desktop-lg)
    position fixed
    z-index 10000
    top 1.375rem
    right 1.25rem
    width auto
    border none
    padding 0
    margin 0
    display flex
    align-items center
    justify-content center
    @extend .card
    svg
      fill $secondary-color
      padding 0
      width 3.125rem
      height 3.125rem

.item
  margin 0
  text-transform uppercase
  display block
  width 100%
  margin 0
  +above($desktop-lg)
    text-transform lowercase
    width auto
    display inline-block
    &:not(:last-child)
      margin-right 1.25rem

.item,
.link
  display inline-block

.link
  padding 0
  text-decoration none
  position relative
  color #fff
  font-size 1.5rem
  letter-spacing .0625rem
  +above($desktop-lg)
    color $link-color
    font-size 1rem
  &:hover,
  &:focus,
  &:active,
  &-active
    outline none
    color #fff
    box-shadow inset 0 -0.75rem 0 rgba(#fff, .15)
    +above($desktop-lg)
      box-shadow inset 0 -0.75rem 0 rgba($link-hover-color, .15)
      color $link-hover-color

  span
    color $secondary-color
    box-shadow inset 0 -0.75rem 0 rgba($link-hover-color, .15)

@keyframes fadeInBottom
  0%
    transform translateY(50px)
    opacity 0
  100%
    transform translateY(0)
    opacity 1
