@import '../../stylus/index.styl'

.Social
  list-style none
  padding 0
  margin .3125rem /* 5/16 */ 0

  &__item
    display inline-block
    vertical-align middle
    text-align center
    line-height 40px
    margin 0 .625rem

  &__link
    opacity .8
    background #fff
    border-radius 100%
    display flex
    align-items center
    justify-content center
    position relative
    text-align center
    width 36px
    height 36px
    box-shadow 0 0 1px 7px rgba(#000, 0.01)
    padding 15px
    &, svg
      transition .2s transform $timingFunction,
        .2s opacity $timingFunction
      margin 0
      padding 0
    &:hover,
    &:focus
      transform scale(1.1)
      opacity 1
      background #d20068
      color #fff
      box-shadow 0 0 1px 7px rgba(210, 0, 104, 0.15)
      svg
        fill #fff
    &:hover,
    &:focus,
    &:active
      outline none
